[Match]
Name=lan
Type=vlan

[Network]
Address=192.168.1.1/24
#DHCPv6PrefixDelegation=yes
ConfigureWithoutCarrier=yes
#IPv6SendRA=yes
DHCPServer=yes
DNS=192.168.1.1
IPForward=true

[DHCPServer]
PoolOffset=100
PoolSize=100
DNS=192.168.1.1
EmitDNS=yes
